[Desktop Entry]
Version=1.0
Name=LeedCoin Core
Comment=LeedCoin P2P Cryptocurrency
Comment[fr]=LeedCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LeedCoin, eşten eşe kriptografik sanal para birimi
Exec=leedcoin-qt %u
Terminal=false
Type=Application
Icon=leedcoin128
MimeType=x-scheme-handler/leedcoin;
Categories=Office;Finance;
StartupWMClass=LeedCoin-qt
