
## <summary>policy for leedcoin</summary>


########################################
## <summary>
##	Transition to leedcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`leedcoin_domtrans',`
	gen_require(`
		type leedcoin_t, leedcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, leedcoin_exec_t, leedcoin_t)
')


########################################
## <summary>
##	Execute leedcoin server in the leedcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`leedcoin_initrc_domtrans',`
	gen_require(`
		type leedcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, leedcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search leedcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`leedcoin_search_lib',`
	gen_require(`
		type leedcoin_var_lib_t;
	')

	allow $1 leedcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read leedcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`leedcoin_read_lib_files',`
	gen_require(`
		type leedcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, leedcoin_var_lib_t, leedcoin_var_lib_t)
')

########################################
## <summary>
##	Manage leedcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`leedcoin_manage_lib_files',`
	gen_require(`
		type leedcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, leedcoin_var_lib_t, leedcoin_var_lib_t)
')

########################################
## <summary>
##	Manage leedcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`leedcoin_manage_lib_dirs',`
	gen_require(`
		type leedcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, leedcoin_var_lib_t, leedcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a leedcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`leedcoin_admin',`
	gen_require(`
		type leedcoin_t;
		type leedcoin_initrc_exec_t;
		type leedcoin_var_lib_t;
	')

	allow $1 leedcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, leedcoin_t)

	leedcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 leedcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, leedcoin_var_lib_t)

')

